################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Release
/NewSpriteCreator-GUI/Release
NewSpriteCreator-GUI/Debug/vc142.pdb
NewSpriteCreator-GUI/Debug/NewSpriteCreatorGUI.MyForm.resources
NewSpriteCreator-GUI/Debug/NewSpriteCreator-GUI.vcxproj.GenerateResource.cache
NewSpriteCreator-GUI/Debug/NewSpriteCreator-GUI.vcxproj.FileListAbsolute.txt
NewSpriteCreator-GUI/Debug/NewSpriteCreator-GUI.res
NewSpriteCreator-GUI/Debug/NewSpriteCreator-GUI.log
NewSpriteCreator-GUI/Debug/NewSpriteCreator-GUI.exe.recipe
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/rc.write.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/rc.read.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/rc.command.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/NewSpriteCreator-GUI.write.1u.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/NewSpriteCreator-GUI.lastbuildstate
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/metagen.write.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/metagen.read.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/link.write.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/link.read.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/link.command.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/CL.write.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/CL.read.1.tlog
NewSpriteCreator-GUI/Debug/NewSprit.AB4819BC.tlog/CL.command.1.tlog
NewSpriteCreator-GUI/Debug/MyForm.obj
NewSpriteCreator-GUI/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
NewSpriteCreator-GUI/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
Debug/NewSpriteCreator-GUI.pdb
Debug/NewSpriteCreator-GUI.exe.metagen
Debug/NewSpriteCreator-GUI.exe
